* {
  padding: 0;
  margin: 0;
}

div#root {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100vh;
}
main {
  overflow-y: scroll;
  height: -webkit-fill-available;
}
main::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}
main::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
}

.app-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #2196f3;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
}

.app-header--only-actions {
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: 0;
  color: transparent;
  width: 100%;
}
.header-navigation {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-navigation_action {
  min-width: 50px;
  max-width: 50px;
  width: 50px;
  height: 100%;
  background-color: #1090ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.header-navigation_title {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: x-large;
  box-sizing: border-box;
  padding: 10px;
}

ul.menu-actions_list {
  display: none;
}

.menu-actions_list--expanded {
  display: block;
  position: absolute;
  right: 15px;
  z-index: 9;
  background-color: white;
  color: black;
  border: 1px solid #d1cdcd;
  border-radius: 3px;
  padding: 5px 0px;
  width: 200px;
  box-shadow: -2px 1px 6px 0.5px rgb(70 66 66 / 35%);
}

li.menu-actions_actionItem {
  padding: 10px 20px;
  text-align: start;
  list-style: none;
}

li.menu-actions_actionItem:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.anchor-container {
  position: relative;
}

a.anchor:hover {
  background-color: aliceblue;
  border-radius: 50px;
}

.app-header_title {
  padding: 10px;
}

span.anchor-tooltip {
  position: absolute;
  display: block;
  width: max-content;
  background-color: #000000c9;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
}
.anchor-tooltip.right {
  right: -150%;
}

.anchor-tooltip.left {
  left: -150%;
}
.anchor-tooltip.top-right {
  top: 100%;
  right: -150%;
}
.anchor-tooltip.bottom-right {
  right: -150%;
  bottom: -100%;
}
.anchor-tooltip.top-left {
  left: 150%;
  top: 100%px;
}
.anchor-tooltip.bottom-left {
  left: -150%;
  bottom: -100%;
}

.menu-actions_toggler {
  background-color: transparent;
  border: none;
}

h2 {
  padding: 1em 2em;
}

.container__body {
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
}

.container__footer {
  align-items: flex-end;
}

.control__label {
  padding-left: 15px;
}

.control__input {
  display: flex;
  padding: 5px;
  margin-top: 10px;
  margin: 15px;
}

.container__btn {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  margin: 12px;
  border-radius: 5px;
  border-style: none;
  font-weight: 800;
}

.container_btn--primary {
  background-color: #9c27b0a8;
  color: white;
}

.body__go-back-btn {
  height: 26px;
  width: 26px;
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
}

.body__go-back-btn:hover {
  background-color: #00000021;
  cursor: pointer;
}

.body__action-btn {
  position: fixed;
  bottom: 15px;
  right: 20px;
  padding: 8px 16.24px;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  background-color: #ec407a;
  border: none;
  color: white;
  z-index: 99999;
}
.body__action-btn:hover{
  background-color: #f7427fad;
  cursor: pointer;
}

.body__action:hover {
  background-color: #ec407a;
}

li.contact-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

li.contact-item:active,
li.contact-item:hover {
  background-color: whitesmoke;
}

.contact-detail__media {
  top: 0;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 250px;
  width: -webkit-fill-available;
  justify-content: center;
}

.contact-item__media__avatar-icon--empty {
  height: 30px;
  width: 30px;
  color: dimgray;
  background-color: lightgray;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.contact-detail__media__avatar--empty {
  height: 55px;
  width: 55px;
  color: dimgray;
  background-color: lightgray;
  padding: 20px;
  font-size: 42px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

h4.contact-item__media-info_name {
  color: #5c5c5c;
  font-weight: 500;
}

.contact-detail__media__fullname {
  position: relative;
  bottom: -50px;
  left: 15px;
  display: flex;
  align-self: flex-start;
  font-size: 1.3em;
  line-height: 0;
  padding: 0;
  color: white;
}
.is-not-visible {
  visibility: hidden;
}

section.contact_info {
  width: -webkit-fill-available;
  padding: 15px;
}
.contact_info--display {
  display: flex;
}
.contact_info--display p {
  padding-left: 25px;
  display: flex;
  align-items: center;
}
.contact_info--phone {
  display: flex;
  justify-content: space-between;
}
.contact_info--heigth img {
  height: 1.5em;
  padding: 0 20px;
}
.contact_info--heigth img:hover {
  background-color: #91919163;
  border-radius: 50px;
}
.divider {
  width: 0.1rem;
  height: 1.5rem;
  flex-grow: 0;
  background-color: rgba(128, 128, 128, 0.719);
}

/* ContactForm */

.contact-form__action--primary {
  background-color: #2e49df;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.contact-form__action--primary:hover {
  background-color: #536cf5;
}

/* Footer */

.contact-form__footer {
  position: fixed;
  bottom: 0;
  padding: 20px 0px;
}

form.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  height: -webkit-fill-available;
}
